# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build files
build/
dist/

# Dependency directories
/.pnp
.pnp.js

# Testing
/coverage

# IDE
.idea/
.vscode/

# Editor-specific files
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db
